vagrant/nodered/flows_waterMonitor.json
[{"id":"e2b3822b.74a88","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"127e4936.db57ef","type":"cloudantplus","z":"","host":"http://localhost:5984","name":""},{"id":"e8bd9d17.5d84f8","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"/etc/mosquitto/ca_certificates/m2mqtt_ca.crt","certname":"","keyname":"","caname":"","servername":"waterMonitor.local","verifyservercert":false},{"id":"f247d096.7b5ac","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"8883","tls":"e8bd9d17.5d84f8","clientid":"NodeRED","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"d5c9fafb.a77bf","type":"ui_tab","z":"","name":"waterMonitor","icon":"dashboard"},{"id":"54c5913.3025ff","type":"ui_group","z":"","name":"waterMonitor","tab":"d5c9fafb.a77bf","disp":true,"width":"6","collapse":false},{"id":"569074da.1da864","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6e239e8c.acc2f8","type":"cloudantplus out","z":"e2b3822b.74a88","name":"","cloudant":"127e4936.db57ef","database":"monitor","service":"_ext_","payonly":true,"operation":"insert","x":520,"y":120,"wires":[]},{"id":"6793fe89.f62b4","type":"mqtt in","z":"e2b3822b.74a88","name":"","topic":"/water/#","qos":"2","broker":"f247d096.7b5ac","x":80,"y":60,"wires":[["5c923b02.82bbec","b73652d5.0f4be8"]]},{"id":"51a0081b.1b1a98","type":"debug","z":"e2b3822b.74a88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":510,"y":300,"wires":[]},{"id":"5c923b02.82bbec","type":"json","z":"e2b3822b.74a88","name":"","property":"payload","action":"","pretty":false,"x":210,"y":100,"wires":[["9bdee9a.3811398"]]},{"id":"9bdee9a.3811398","type":"change","z":"e2b3822b.74a88","name":"","rules":[{"t":"set","p":"payload.d.ts","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":180,"wires":[["51a0081b.1b1a98","6e239e8c.acc2f8","6174082b.c24a2","2d9c903.31b7cf"]]},{"id":"e7b38eab.854f8","type":"ui_gauge","z":"e2b3822b.74a88","name":"rate","group":"54c5913.3025ff","order":0,"width":0,"height":0,"gtype":"gage","title":"rate","label":"units","format":"{{value | number:2}}","min":0,"max":"90","colors":["#00B500","#E6E600","#CA3838"],"seg1":"30","seg2":"60","x":670,"y":180,"wires":[]},{"id":"6174082b.c24a2","type":"change","z":"e2b3822b.74a88","name":"rate","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.rate","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":180,"wires":[["e7b38eab.854f8"]]},{"id":"2d9c903.31b7cf","type":"change","z":"e2b3822b.74a88","name":"litres","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.litres","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":220,"wires":[["16f46989.6b6d4e","94ffbdf3.75df48"]]},{"id":"16f46989.6b6d4e","type":"ui_chart","z":"e2b3822b.74a88","name":"litres","group":"54c5913.3025ff","order":0,"width":0,"height":0,"label":"litres","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":670,"y":220,"wires":[[],[]]},{"id":"94ffbdf3.75df48","type":"ui_text","z":"e2b3822b.74a88","group":"54c5913.3025ff","order":0,"width":0,"height":0,"name":"","label":"Litres:","format":"{{msg.payload | number:2}} l","layout":"row-spread","x":670,"y":260,"wires":[]},{"id":"b73652d5.0f4be8","type":"debug","z":"e2b3822b.74a88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":240,"y":60,"wires":[]}]